<!doctype HTML>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet"></head>
<div class="ri jumbotron">
<%= link_to image_tag("music.jpg", class: "container"), new_music_path%>
</div>