<!doctype HTML>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet"></head>
<div class="ri jumbotron">
<%= image_tag "music.jpg", alt: "rss feed", class: "container" %>
</div>